<%= form_with(model: server, local: true) do |form| %>

  <%= render 'shared/error_messages', object: server %>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :serial_number %>
    <%= form.text_field :serial_number %>
  </div>

  <div class="field">
    <%= form.label :type %>
    <%= form.text_field :type %>
  </div>

  <div class="field">
    <%= form.label :os %>
    <%= form.text_field :os %>
  </div>

  <div class="field">
    <%= form.label :ip_address %>
    <%= form.text_field :ip_address %>
  </div>

  <div class="field">
    <%= form.label :application %>
    <%= form.text_field :application %>
  </div>

  <div><%= hidden_field_tag :project_id, params[:project_id] %></div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
