<p id="notice"><%= notice %></p>

<h1>Monitorings</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Content</th>
      <th>Warning</th>
      <th>Critical</th>
      <th>Failure flow</th>
      <th>Interval</th>
      <th>Retry num</th>
      <th>Timeout</th>
      <th>Route</th>
      <th>Other</th>
      <th>Tool</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @monitorings.each do |monitoring| %>
      <tr>
        <td><%= monitoring.name %></td>
        <td><%= monitoring.content %></td>
        <td><%= monitoring.warning %></td>
        <td><%= monitoring.critical %></td>
        <td><%= monitoring.failure_flow %></td>
        <td><%= monitoring.interval %></td>
        <td><%= monitoring.retry_num %></td>
        <td><%= monitoring.timeout %></td>
        <td><%= monitoring.route %></td>
        <td><%= monitoring.other %></td>
        <td><%= monitoring.tool %></td>
        <td><%= link_to 'Show', monitoring %></td>
        <td><%= link_to 'Edit', edit_monitoring_path(monitoring) %></td>
        <td><%= link_to 'Destroy', monitoring, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Monitoring', new_monitoring_path %>
